*{
    background-color: #FAF0E4;
    font-family: 'Courgette', cursive;
    color:#A3B6C5;

}
.center{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #F6B99D;
    border-radius: 5px;
    text-align: center;
    color:#CB8A90;
}

h2{
    color:#F6B99D;
}